.group196-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.group196-group196 {
  width: 1331px;
  height: 924px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.group196-group193 {
  top: 1px;
  left: 0px;
  width: 1331px;
  height: 923px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.group196-image83 {
  top: 0px;
  left: 0px;
  width: 1331px;
  height: 58px;
  position: absolute;
}
.group196-image84 {
  top: 0px;
  left: 0px;
  width: 1331px;
  height: 58px;
  position: absolute;
}
.group196-logo27 {
  top: 4px;
  left: 23px;
  width: 55px;
  height: 51px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.group196-logo1 {
  top: 0px;
  left: 0px;
  width: 55px;
  height: 51px;
  position: absolute;
}
.group196-text {
  left: 93px;
  color: rgba(255, 255, 255, 1);
  width: 331px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group196-image85 {
  top: 58px;
  left: 0px;
  width: 1331px;
  height: 865px;
  position: absolute;
}
.group196-text02 {
  top: 20px;
  left: 632px;
  color: rgba(255, 255, 255, 1);
  width: 105px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: center;
  font-family: Open Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group196-text04 {
  top: 20px;
  left: 760px;
  color: rgba(255, 255, 255, 1);
  width: 105px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: center;
  font-family: Open Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group196-text06 {
  top: 20px;
  left: 865px;
  color: rgba(255, 255, 255, 1);
  width: 165px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: center;
  font-family: Open Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group196-text08 {
  top: 141px;
  left: 187px;
  color: rgba(0, 0, 0, 1);
  width: 332px;
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.group196-frame30 {
  gap: 10px;
  top: 334px;
  left: 838px;
  width: 401px;
  height: 45px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: rgba(20, 124, 187, 1);
}
.group196-text10 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 22px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.group196-frame31 {
  gap: 10px;
  top: 481px;
  left: 839px;
  width: 401px;
  height: 45px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: rgba(20, 124, 187, 1);
}
.group196-text12 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 22px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.group196-frame32 {
  gap: 10px;
  top: 642px;
  left: 846px;
  width: 401px;
  height: 46px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: rgba(20, 124, 187, 1);
}
.group196-text14 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 22px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.group196-text16 {
  top: 201px;
  left: 822px;
  color: rgba(0, 16, 57, 1);
  width: 453px;
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Bold;
  text-align: center;
  font-family: Open Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group196-group139 {
  top: 804px;
  left: 948px;
  width: 182px;
  height: 44px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 153, 0, 1);
}
.group196-text18 {
  top: 7.0968017578125px;
  left: 9.6513671875px;
  color: rgba(255, 255, 255, 1);
  width: 164px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group196-text20 {
  top: 18px;
  left: 1167px;
  color: rgba(255, 255, 255, 1);
  width: 84px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group196-text22 {
  top: 396px;
  left: 845px;
  color: rgba(0, 0, 0, 1);
  width: 362px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.group196-text24 {
  top: 721px;
  left: 858px;
  color: rgba(0, 0, 0, 1);
  width: 172px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.group196-text26 {
  top: 559px;
  left: 846px;
  color: rgba(0, 0, 0, 1);
  width: 350px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.group196-ellipse13 {
  top: 219px;
  left: 93px;
  width: 545px;
  height: 525px;
  position: absolute;
}
.group196-ellipse14 {
  top: 5px;
  left: 1266px;
  width: 55px;
  height: 46px;
  position: absolute;
}
.group196-image161 {
  top: 0px;
  left: 0px;
  width: 1331px;
  height: 58px;
  position: absolute;
}
.group196-image162 {
  top: 0px;
  left: 0px;
  width: 1331px;
  height: 58px;
  position: absolute;
}
.group196-logo48 {
  top: 4px;
  left: 23px;
  width: 55px;
  height: 51px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.group196-logo11 {
  top: 0px;
  left: 0px;
  width: 55px;
  height: 51px;
  position: absolute;
}
.group196-text28 {
  left: 93px;
  color: rgba(255, 255, 255, 1);
  width: 331px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group196-text30 {
  top: 20px;
  left: 632px;
  color: rgba(255, 255, 255, 1);
  width: 105px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: center;
  font-family: Open Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group196-text32 {
  top: 20px;
  left: 760px;
  color: rgba(255, 255, 255, 1);
  width: 105px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: center;
  font-family: Open Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group196-text34 {
  top: 20px;
  left: 865px;
  color: rgba(255, 255, 255, 1);
  width: 165px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: center;
  font-family: Open Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group196-text36 {
  top: 15px;
  left: 1163px;
  color: rgba(255, 255, 255, 1);
  width: 84px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group196-image163 {
  top: 4px;
  left: 1255px;
  width: 49px;
  height: 51px;
  position: absolute;
  border-radius: 200px;
}
.group196-image116 {
  top: 203px;
  left: 70px;
  width: 592px;
  height: 591px;
  position: absolute;
  border-radius: 500px;
}
.group196-group163 {
  top: 108px;
  left: 825px;
  width: 422px;
  height: 67px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.group196-text38 {
  top: 21.43994140625px;
  left: 25.8701171875px;
  color: rgba(6, 61, 78, 1);
  width: 265px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Light;
  text-align: left;
  font-family: Montserrat;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group196-search {
  top: 14.739990234375px;
  left: 355.708984375px;
  width: 45px;
  height: 38px;
  position: absolute;
}
