.group172-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.group172-group172 {
  width: 1331px;
  height: 923px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.group172-grupo-paseadores {
  top: 0px;
  left: 0px;
  width: 1331px;
  height: 923px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.group172-image21 {
  top: 0px;
  left: 0px;
  width: 1331px;
  height: 58px;
  position: absolute;
}
.group172-image22 {
  top: 0px;
  left: 0px;
  width: 1331px;
  height: 58px;
  position: absolute;
}
.group172-group94 {
  top: 13px;
  left: 865px;
  width: 132px;
  height: 30.966413497924805px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 153, 0, 1);
}
.group172-text {
  top: 5.99365234375px;
  left: 7px;
  color: rgba(255, 255, 255, 1);
  width: 119px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group172-logo15 {
  top: 4px;
  left: 23px;
  width: 55px;
  height: 51px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.group172-logo1 {
  top: 0px;
  left: 0px;
  width: 55px;
  height: 51px;
  position: absolute;
}
.group172-text002 {
  left: 93px;
  color: rgba(255, 255, 255, 1);
  width: 331px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group172-image23 {
  top: 58px;
  left: 0px;
  width: 1331px;
  height: 865px;
  position: absolute;
}
.group172-rectangle11 {
  top: 659px;
  left: 51px;
  width: 1234px;
  height: 201px;
  position: absolute;
}
.group172-text004 {
  top: 724px;
  left: 78px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group172-text013 {
  top: 684px;
  left: 66px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group172-group92 {
  top: 13px;
  left: 1012px;
  width: 132px;
  height: 30.966413497924805px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 153, 0, 1);
}
.group172-text015 {
  top: 5.99365234375px;
  left: 7px;
  color: rgba(255, 255, 255, 1);
  width: 119px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group172-group93 {
  top: 13px;
  left: 1159px;
  width: 132px;
  height: 30.966413497924805px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 153, 0, 1);
}
.group172-text017 {
  top: 5.99365234375px;
  left: 7px;
  color: rgba(255, 255, 255, 1);
  width: 119px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group172-group96 {
  top: 89px;
  left: 1088px;
  width: 218px;
  height: 59px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 153, 0, 1);
}
.group172-text019 {
  top: 19px;
  left: 17px;
  color: rgba(255, 255, 255, 1);
  width: 183px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group172-rectangle10 {
  top: 412px;
  left: 51px;
  width: 1234px;
  height: 201px;
  position: absolute;
}
.group172-text021 {
  top: 433px;
  left: 66px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group172-group110 {
  top: 529px;
  left: 944px;
  width: 200px;
  height: 288px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.group172-rectangle3 {
  top: 0px;
  left: 0px;
  width: 194px;
  height: 47px;
  position: absolute;
  border-radius: 50px;
}
.group172-text023 {
  top: 15.1357421875px;
  left: 15.12841796875px;
  color: rgba(255, 255, 255, 1);
  width: 163px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group172-group109 {
  top: 241px;
  left: 6px;
  width: 194px;
  height: 47px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 153, 0, 1);
}
.group172-text025 {
  top: 15.1357421875px;
  left: 15.12841796875px;
  color: rgba(255, 255, 255, 1);
  width: 163px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group172-group1091 {
  top: 453px;
  left: 944px;
  width: 200px;
  height: 364px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.group172-rectangle31 {
  top: 0px;
  left: 0px;
  width: 194px;
  height: 47px;
  position: absolute;
  border-radius: 50px;
}
.group172-text027 {
  top: 15.1357421875px;
  left: 15.12841796875px;
  color: rgba(255, 255, 255, 1);
  width: 163px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group172-group1101 {
  top: 317px;
  left: 6px;
  width: 194px;
  height: 47px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 153, 0, 1);
}
.group172-text029 {
  top: 15.1357421875px;
  left: 15.12841796875px;
  color: rgba(255, 255, 255, 1);
  width: 163px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group172-group1092 {
  top: 241px;
  left: 6px;
  width: 194px;
  height: 47px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 153, 0, 1);
}
.group172-text031 {
  top: 15.1357421875px;
  left: 15.12841796875px;
  color: rgba(255, 255, 255, 1);
  width: 163px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group172-rectangle12 {
  top: 174px;
  left: 51px;
  width: 1240px;
  height: 201px;
  position: absolute;
}
.group172-text033 {
  top: 477px;
  left: 73px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group172-grupo-paseadores1 {
  top: 0px;
  left: 0px;
  width: 1331px;
  height: 923px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.group172-image211 {
  top: 0px;
  left: 0px;
  width: 1331px;
  height: 58px;
  position: absolute;
}
.group172-image221 {
  top: 0px;
  left: 0px;
  width: 1331px;
  height: 58px;
  position: absolute;
}
.group172-group941 {
  top: 13px;
  left: 865px;
  width: 132px;
  height: 30.966413497924805px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 153, 0, 1);
}
.group172-text042 {
  top: 5.99365234375px;
  left: 7px;
  color: rgba(255, 255, 255, 1);
  width: 119px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group172-logo151 {
  top: 4px;
  left: 23px;
  width: 55px;
  height: 51px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.group172-logo11 {
  top: 0px;
  left: 0px;
  width: 55px;
  height: 51px;
  position: absolute;
}
.group172-text044 {
  left: 93px;
  color: rgba(255, 255, 255, 1);
  width: 331px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group172-image231 {
  top: 58px;
  left: 0px;
  width: 1331px;
  height: 865px;
  position: absolute;
}
.group172-rectangle111 {
  top: 659px;
  left: 51px;
  width: 1234px;
  height: 201px;
  position: absolute;
}
.group172-text046 {
  top: 724px;
  left: 78px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group172-text055 {
  top: 684px;
  left: 66px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group172-group921 {
  top: 13px;
  left: 1012px;
  width: 132px;
  height: 30.966413497924805px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 153, 0, 1);
}
.group172-text057 {
  top: 5.99365234375px;
  left: 7px;
  color: rgba(255, 255, 255, 1);
  width: 119px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group172-group931 {
  top: 13px;
  left: 1159px;
  width: 132px;
  height: 30.966413497924805px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 153, 0, 1);
}
.group172-text059 {
  top: 5.99365234375px;
  left: 7px;
  color: rgba(255, 255, 255, 1);
  width: 119px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group172-group961 {
  top: 89px;
  left: 839px;
  width: 467px;
  height: 59px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.group172-rectangle32 {
  top: 0px;
  left: 249px;
  width: 218px;
  height: 59px;
  position: absolute;
  border-radius: 50px;
}
.group172-text061 {
  top: 19px;
  left: 266px;
  color: rgba(255, 255, 255, 1);
  width: 183px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group172-rectangle4 {
  top: 0px;
  left: 0px;
  width: 218px;
  height: 59px;
  position: absolute;
  border-radius: 50px;
}
.group172-text063 {
  top: 19px;
  left: 17px;
  color: rgba(255, 255, 255, 1);
  width: 183px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group172-rectangle101 {
  top: 412px;
  left: 51px;
  width: 1234px;
  height: 201px;
  position: absolute;
}
.group172-text065 {
  top: 433px;
  left: 66px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group172-group1102 {
  top: 529px;
  left: 944px;
  width: 200px;
  height: 288px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.group172-rectangle33 {
  top: 0px;
  left: 0px;
  width: 194px;
  height: 47px;
  position: absolute;
  border-radius: 50px;
}
.group172-text067 {
  top: 15.1357421875px;
  left: 15.12841796875px;
  color: rgba(255, 255, 255, 1);
  width: 163px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group172-group1093 {
  top: 241px;
  left: 6px;
  width: 194px;
  height: 47px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 153, 0, 1);
}
.group172-text069 {
  top: 15.1357421875px;
  left: 15.12841796875px;
  color: rgba(255, 255, 255, 1);
  width: 163px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group172-group1094 {
  top: 453px;
  left: 944px;
  width: 200px;
  height: 364px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.group172-rectangle34 {
  top: 0px;
  left: 0px;
  width: 194px;
  height: 47px;
  position: absolute;
  border-radius: 50px;
}
.group172-text071 {
  top: 15.1357421875px;
  left: 15.12841796875px;
  color: rgba(255, 255, 255, 1);
  width: 163px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group172-group1103 {
  top: 317px;
  left: 6px;
  width: 194px;
  height: 47px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 153, 0, 1);
}
.group172-text073 {
  top: 15.1357421875px;
  left: 15.12841796875px;
  color: rgba(255, 255, 255, 1);
  width: 163px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group172-group1095 {
  top: 241px;
  left: 6px;
  width: 194px;
  height: 47px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 153, 0, 1);
}
.group172-text075 {
  top: 15.1357421875px;
  left: 15.12841796875px;
  color: rgba(255, 255, 255, 1);
  width: 163px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group172-rectangle121 {
  top: 174px;
  left: 51px;
  width: 1240px;
  height: 201px;
  position: absolute;
}
.group172-text077 {
  top: 477px;
  left: 73px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group172-text086 {
  top: 18.99365234375px;
  left: 872px;
  color: rgba(255, 255, 255, 1);
  width: 119px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group172-rectangle102 {
  top: 174px;
  left: 51px;
  width: 1240px;
  height: 201px;
  position: absolute;
}
.group172-group1104 {
  top: 290px;
  left: 944px;
  width: 194px;
  height: 47px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 153, 0, 1);
}
.group172-text088 {
  top: 15.1357421875px;
  left: 15.12841796875px;
  color: rgba(255, 255, 255, 1);
  width: 163px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group172-text090 {
  top: 194px;
  left: 68px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group172-text092 {
  top: 234px;
  left: 72px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group172-group1096 {
  top: 214px;
  left: 944px;
  width: 194px;
  height: 47px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 153, 0, 1);
}
.group172-text101 {
  top: 15.1357421875px;
  left: 15.12841796875px;
  color: rgba(255, 255, 255, 1);
  width: 163px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group172-image144 {
  top: 1px;
  left: 0px;
  width: 1331px;
  height: 58px;
  position: absolute;
}
.group172-image145 {
  top: 1px;
  left: 0px;
  width: 1331px;
  height: 58px;
  position: absolute;
}
.group172-logo42 {
  top: 5px;
  left: 23px;
  width: 55px;
  height: 51px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.group172-logo12 {
  top: 0px;
  left: 0px;
  width: 55px;
  height: 51px;
  position: absolute;
}
.group172-text103 {
  top: 1px;
  left: 93px;
  color: rgba(255, 255, 255, 1);
  width: 331px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group172-text105 {
  top: 21px;
  left: 632px;
  color: rgba(255, 255, 255, 1);
  width: 105px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: center;
  font-family: Open Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group172-text107 {
  top: 21px;
  left: 760px;
  color: rgba(255, 255, 255, 1);
  width: 105px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: center;
  font-family: Open Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group172-text109 {
  top: 21px;
  left: 865px;
  color: rgba(255, 255, 255, 1);
  width: 165px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: center;
  font-family: Open Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group172-text111 {
  top: 19px;
  left: 1167px;
  color: rgba(255, 255, 255, 1);
  width: 84px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group172-ellipse24 {
  top: 6px;
  left: 1266px;
  width: 55px;
  height: 46px;
  position: absolute;
}
